RewriteEngine On
RewriteBase /stremio/

# Primeiro, redirecionar manifest.json para manifest.php
RewriteRule ^manifest\.json$ manifest.php [L]

# Em seguida, lidar com os pedidos de JSON para catalog, meta e stream
RewriteRule ^catalog/(.*)/(.*)/(.*).json catalogs.php?type=$1&id=$2&extra=$3 [L,B]
RewriteRule ^meta/(.*)/(.*)/(.*).json meta.php?type=$1&id=$2&extra=$3 [L,B]
RewriteRule ^stream/(.*)/(.*)/(.*).json streams.php?type=$1&id=$2&extra=$3 [L,B]

# Finalmente, lidar com os pedidos de JSON para catalog, meta e stream sem o extra parâmetro
RewriteRule ^catalog/(.*)/(.*).json catalogs.php?type=$1&id=$2 [L]
RewriteRule ^meta/(.*)/(.*).json meta.php?type=$1&id=$2 [L]
RewriteRule ^stream/(.*)/(.*).json streams.php?type=$1&id=$2 [L]